/* RBP CSS by Abhi Nayar */

/* 
Color Lib:
---------------------
Dark purple: #623c91
Light purple: #beb0d4
Dull white: #f8f8f8
McD Red: #b64817
Hardie Green: #006634
Corvette Black: #050505
Off black: #1d1f20
*/

/* Font sizes:
----------------------
Landing p: 18px;
Other p: 14px;
h4: 18px; (small heading)
h2: 36px (testimonials)
*/

@font-face {
    font-family: MS;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MSThin;
    src: url('../fonts/Montserrat-Thin.ttf');
}

@font-face {
    font-family: MSLight;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: MSBold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
	height:100%;
	font-family: "MS";
	padding:0;
	margin:0;
	line-height: 20px;
	overflow-x:hidden;
	position: relative;
    background: #fff;
}

h1, h2, h3, h4, p, a, div {
    -webkit-text-stroke: 0px
}

.bold {
    font-family: "MSBold";
}

.normal {
    font-family: "MS";
}

.light {
    font-family: "MSLight";
}

.thin {
    font-family: "MSThin";
}

.uppercase {
    text-transform: uppercase;
}

.med-text {
    font-size: 36px;
}

.sm-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sm-text {
    font-size: 14px;
}

.no-pad {
    padding: 0px;
}

.no-list {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hov {
    cursor: pointer;
}

.fill-button {
    position: relative;
    //display:inline-block;
    height: 38x;
    width: 132px;
    color: #fff;
    border: 2px solid #fff;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.fill:hover {
    color: #fff;
    border-color: #613c91 !important;
}

.fill:before {
    content: "";
    position: absolute;
    background: #613c91;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

.fill-alt {
    width: 155px; 
    text-decoration: none !important;
}

.fill-alt:hover {
    color: #613c91 !important;
    border-color: #fff !important;
}

.fill-alt:before {
    background: #fff !important;
}

/* Loader */
body.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	background: #fff;
}

.icon {
	position: relative;
	cursor: pointer;
}

.icon:after {
    position: absolute;
    content:'';
    width: 32px;
    height: 32px;
    top: 48px;
    left: 48px;
    background-image: url("../img/common/rbpSmLogo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.rotate {
	animation: rotating 2.5s linear;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation */
.landing-nav {
    margin-top: 25px;
}

.landing-nav.mobile .hero {
    float: left;
    width: 150px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    left: 30px;
}

.landing-nav.desktop .hero {
    float: left;
    width: 150px;
    overflow: hidden;
    position: absolute;
    margin-top: 5px;
}

.landing-nav.affixed .hero {
    top: 30px;
}

.landing-nav .hero img {
    max-width: 100%;
    margin-left: -122px;
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.landing-nav .hero img:hover {
    margin-left: 0px;
    cursor: pointer;
}

@media (min-width: 0px) {
    .landing-nav.mobile {
        height: 110px;
        width: 110%;
        margin-left: -5%;
        margin-top: -10px;
        position: absolute;
        z-index: 990;
        background: transparent;   
    }
    
    .landing-nav.affixed.mobile {
        position: fixed;
        /* IE10+ */ 
        background-image: -ms-linear-gradient(left, #CCBDE4 0%, #EDE4FC 100%);

        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(left, #CCBDE4 0%, #EDE4FC 100%);

        /* Opera */ 
        background-image: -o-linear-gradient(left, #CCBDE4 0%, #EDE4FC 100%);

        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #CCBDE4), color-stop(100, #EDE4FC));

        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(left, #CCBDE4 0%, #EDE4FC 100%);

        /* W3C Markup */ 
        background-image: linear-gradient(to right, #CCBDE4 0%, #EDE4FC 100%);
        border-bottom: 2px solid #623c91;    
    }
    
    .landing-nav.affixed.mobile .hero, .landing-nav.affixed.mobile .mobile-hamburger {
        margin-top: -10px;
    }
    
    .landing-nav.mobile.affixed .hero {
        position: fixed;
    }
    
    .landing-nav.mobile ul.nav {
        text-align: center;
        width: 100%;
        float: right;
        padding-left: 0 !important;
        font-size: 22px;
        margin-top: 35%;
    }
    
    .landing-nav.mobile ul.nav li {
        margin-bottom: 40px;
        padding-left: 0px;
    }
    
    .landing-nav.mobile ul.nav li:hover {
        background: none;
    }
    
    .landing-nav.mobile ul.nav li a {
        color: #fff;
        display: inline-block;
        width: auto;
        text-decoration: none;
        padding: 0px;
        padding-bottom: 5px;
    }
    
    .landing-nav.mobile ul.nav li a:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 4px;
        background: none;
    }
    
    .landing-nav.mobile .navigation {
        width: 110%;
        margin-left: -5%;
        height: 100%;
        min-height: 110vh;
        background: #623c91;
        position: fixed;
        z-index: 998;
        transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);;
    }
    
    .landing-nav.mobile .navigation.closed {
        width: 0px;
        height: 0px;
        margin-top: -26px;
        transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .landing-nav.mobile .navigation.closed ul.nav li a {
        display: none;
    }
    
    .landing-nav.mobile .mobile-hamburger {
        display: inline-block;
        position: absolute;
        z-index: 999;
        right: 65px;
        top: 40px;
        font-size: 36px;
        color: #fff;
    }
    
    .landing-nav.mobile.affixed .mobile-hamburger {
        color: #623c91;
        position: fixed;
        right: 30px;
    }
    
    .landing-nav.mobile .mobile-hamburger i:before {
        content: "\f0c9";
        transition: all 1s ease;
    }
    
    .landing-nav.mobile .mobile-hamburger.active {
        color: #fff;
    }
    
    .landing-nav.mobile .mobile-hamburger.active i:before {
        content: "\f00d";
        transition: all 1s ease;
    }
}

@media (min-width: 768px) {
    .landing-nav.desktop .navigation {
        float: right;
        margin-right: 0%;
    }

    @media(min-width: 1300px) {
        .landing-nav.desktop .navigation {
            margin-right: 55px;
        }
    }

    .landing-nav.desktop .nav-bg {
        overflow: hidden;
        margin-top: 7px;
    }

    .landing-nav.desktop .nav-list {
        overflow: hidden;
        visibility: hidden;
        animation: moveNav 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-delay: 500ms;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
    }

    @keyframes moveNav {
        0% {
            transform: translateX(550px);
        }

        100% {
            visibility: visible;
            transform: translateX(0px);
        }
    }

    .landing-nav.desktop ul.nav {
        background-image: url('../img/common/trans-nav-bg.jpg');
        background-position: center center;
        background-size: cover;
        width: 550px;
        height: 55px;
        text-align: left;
        margin-left: 0px;
    }

    .landing-nav.desktop ul li, .landing-nav .hamburger {
        display: inline-block;
        margin-top: 6px;
    }

    .landing-nav.desktop .hamburger {
        color: #bdb0d4;
        margin-left: 60px;
        font-size: 18px;
        position: absolute;
        margin-top: 17px;
    }

    .landing-nav.desktop ul li {
        margin-left: 10px;
        margin-right: -8px;
    }

    .landing-nav.desktop ul li a {
        color: #fff;
        font-size: 15px;
    }

    .landing-nav.desktop ul li a:hover {
        background: none;
        text-decoration: none;
    }
}

/* Landing */
.landing {
    height: 100%;
    min-height: 720px;
    width: 100%;
}

.landing .background {
    width: 100%;
    height: 100%;
}

.landing .moving-bg {    
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    max-height: 720px;
    width: 300%;
     -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-image: url('../img/landing/logos.jpg');
    background-size: auto 100%;
    background-position: center right;
    background-repeat: repeat-x;
    z-index: 1;
}

.landing .moving-bg.animate {
    -webkit-animation: moveSlideshow 250s linear infinite;
    animation: moveSlideshow 250s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-33.6666%);
        transform: translateX(-33.6666%)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes moveSlideshow {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-33.6666%);
        transform: translateX(-33.6666%)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.landing .overlay {
    background-image: url('../img/landing/p_overlay.png');
    background-position: -100px center;
    background-size: cover;
    height: 100%;
    max-height: 720px;
    width: 100%;
    position: absolute;
    display: inline-block;
    z-index: 2;
}


@media(min-width: 0px) {
    .landing .overlay {
        background-position: -100px center;
    }
}

@media(min-width: 1300px) {
    .landing .overlay {
        background-position: 0px center;
    }
}

.landing .landing-content {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    margin-top: 85px;
    color: #fff;
    margin-left: -10px;
}

.landing .rbp-logo {
    width: 400px;
    height: auto;
}

.landing .rbp-logo img {
    max-width: 100%;
}

.landing .landing-content .landing-desc {
    font-size: 18px;
    line-height: 1.5em; 
    margin-top: 35px;
    max-width: 85%;
}

.landing .landing-content .landing-buttons {
    margin-top: 55px;
}

.landing .landing-content .landing-buttons a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.landing-buttons .learn-more {
    margin-right: 12px;
    background: #623c91;
    padding: 12px 30px;
}

.landing-buttons .our-clients {
    border: 2px solid #beb0d4;
    padding: 10px 28px;
}

@media (max-width: 767px) {
    .landing .overlay {
        height: 500px;
        background-image: url('../img/landing/p_overlay_mobile.jpg');
        background-position: center center;
        background-size: cover;
    }
    
    .landing .moving-bg { 
        height: 200px;
        margin-top: 500px;
        background-image: url('../img/landing/logos_mobile.jpg');
    }
    
    .landing .moving-bg.animate {
        -webkit-animation: moveSlideshow 25s linear infinite;
        animation: moveSlideshow 25s linear infinite;
    }
    
    .landing {
        height: 100%;
        min-height: 700px;
        width: 100%;
    }

    .landing .landing-content {
        margin-left: 0px;
        margin-top: 100px;
        text-align: center;
        
    }
    
    .landing .rbp-logo {
        width: 50%;
        margin: 0 auto;
    }
    
    .landing .landing-content .landing-desc {
        font-size: 14px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px
    }
    
    .landing .landing-content .landing-buttons {
        display: inline-block;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .landing .landing-content .landing-buttons a {
        font-size: 14px;
    }
    
    .landing-nav.mobile .hero {
        left: 50px;
    }
    
    .landing-nav.mobile .mobile-hamburger {
        right: 90px;
    }
}

@media (max-width: 565px) {
    .landing .landing-content {
        margin-top: 120px; 
    }
    
    .landing .landing-buttons {
        margin-top: 50px;
    }
    
    .landing .landing-content .landing-desc  {
        max-width: 80%;
        margin-top: 40px;
    }
    
    .landing-nav.mobile .hero {
        left: 30px;
    }
    
    .landing-nav.mobile .mobile-hamburger {
        right: 60px;
    }
}

@media (min-width: 768px) {
    .landing .landing-content {
        margin-top: 130px;
        color: #fff;
        margin-left: -10px;
    }
    
    .landing .landing-content .landing-desc {
        font-size: 18px;
        line-height: 1.5em; 
        margin-top: 65px;
        max-width: 65%;
    }
}

@media (min-width: 992px) {
    .landing .landing-content {
        margin-top: 75px;
        color: #fff;
        margin-left: -10px;
    }
    
    .landing .landing-content .landing-desc {
        max-width: 85%;
    }
}

@media (min-width: 1200px) {
    .landing .landing-content {
        margin-top: 140px;
        color: #fff;
        margin-left: 0px;
    }
}

@media (min-width: 1300px) {
    .landing .landing-content {
       margin-top: 85px;
        color: #fff;
        margin-left: -10px;
    }
}

/* What We Do */
.what-we-do {
    background: #623c91;
    color: #fff;
}

.what-we-do-title {
    padding-top: 30px;
    margin-top: 0px;
}

.what-we-do hr {
    border-color: #f5f5f5;
}

.what-we-do .what-we-do-desc {
    font-size: 14px;
    line-height: 1.5em;
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 30px;
}

@media(min-width: 200px) {
    .what-we-do .what-we-do-desc {
        width: 80%;
    }
}

@media(min-width: 650px) {
    .what-we-do .what-we-do-desc {
        width: 70%;
    }
}

@media(min-width: 768px) {
    .what-we-do .what-we-do-desc {
        width: 60%;
    }
}

/* Services Rollout */
.services .item {
    color: #fff;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    overflow: hidden;
    transition: 0.5s all ease;
}

@media(min-width: 0px) {
    
}

@media (min-width: 992px) {
    .services .item {
        min-height: 600px;
        max-height: 600px;
    }
}

@media (min-width: 1050px) {
    .services .item {
        min-height: 570px;
        max-height: 570px;
    }
}

@media (min-width: 1100px) {
    .services .item {
        min-height: 550px;
        max-height: 550px;
    }
}

@media (min-width: 1150px) {
    .services .item {
        min-height: 520px;
        max-height: 520px;
    }
}

@media (min-width: 1250px) {
    .services .item {
        min-height: 490px;
        max-height: 490px;
    }
}

@media (min-width: 1400px) {
    .services .item {
        min-height: 470px;
        max-height: 470px;
    }
}


.services .item.right-brain-research {
    background-image: url('../img/services/rightBrainResearch.jpg');
}

.services .item.emotional-segmentation {
    background-image: url('../img/services/segmentation.jpg');
    background-position: center center;
}

.services .item.strategy-workshop {
    background-image: url('../img/services/strategyWorkshop.jpg');
    background-position: center center;
}

.services .item:hover {
    cursor: pointer;
}

.services .content {
    transition: 0.15s all ease-out;
    width: 100%;
    background: rgba(97,60,145, 0.0);
}

.services .item:hover .content {
    transform: scale(1.12);
    transition: 0.075s all ease-in;
    background: rgba(97,60,145, 0.3);
}
 
.services .item .number-wrapper span {
    font-weight: 100;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 65px;
    padding-top: 12px;  
    border: 1px solid #f8f8f8;
}

.services .service-title {
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 40px;
}

.services .service-title h3 {
    width: 90%;
    margin: 0 auto;
}

.services .service-hr {
    width: 345px;
    margin: 0 auto;
    margin-top: 30px;
}

.services .service-desc {
    padding: 0 85px;
    margin-top: 30px;
    padding-bottom: 80px;
}

.services .item:first-of-type .service-desc, .services .item:last-of-type .service-desc{
    padding-bottom: 100px;
}

.services .services-desc p {
    
}

@media (min-width: 700px){
    .services .service-hr {
        
    }
    
    .services .service-desc p {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    .services .service-hr {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .services .service-desc p {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .services .service-hr {
        width: 78%;
    }
    
    .services .service-desc p {
        width: 100%;
    }
}

@media (min-width: 1460px) {
    .services .service-desc {
        padding-bottom: 100px;
    }
    
    .services .div br {
        display: block;
    }
}

/* Brand Stories */
.brand-stories-start {
    color: #1d1f20;
    min-height: 140px;
    padding-bottom: 40px;
    background: #f1eafc;
}

.brand-stories-title {
    padding-top: 40px;
    margin-top: 0px;
}

.sm-title-hr {
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
}

.black-hr {
    border-color: #1d1f20;
}

.brand-stories-title-desc {
    margin: 0 auto;
    margin-top: 14px;
}

@media(min-width: 200px) {
    .brand-stories-title-desc {
        width: 80%;
    }
}

@media(min-width: 650px) {
    .brand-stories-title-desc {
        width: 70%;
    }
}

@media(min-width: 768px) {
    .brand-stories-title-desc {
        width: 40%;
    }
}

.brand-story {
    height: auto;
    max-height: 480px;
    color: #fff;
}

.brand-story-bg {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat !important;
}

.brand-story-bg.mcDonalds {
    background-image: url('../img/brand-stories/bg/mcDonalds.jpg');
    background-position: bottom;
}

.brand-story-bg.hardie {
    background-image: url('../img/brand-stories/bg/hardie.jpg');
    background-position: top;
}

.brand-story-bg.corvette {
    background-image: url('../img/brand-stories/bg/corvette.jpg');
}

.brand-story .brand-story-logo {
    width: 120px;
    margin-top: 45px;
}

.brand-story.corvette .brand-story-logo {
    width: 200px;
    margin-top: 45px;
}

.brand-story.hardie .brand-story-logo {
    margin-top: 50px;
}

.brand-story.corvette .brand-story-logo {
    margin-top: 55px;
}

.brand-story .brand-story-logo img {
    max-width: 100%;
}

.brand-story .brand-story-title {
    margin-top: -10px;
}

.brand-story .brand-story-text {
    max-width: 335px;
}

.brand-story .content {
    padding-bottom: 75px;
}

.brand-story .brand-story-read-more a {
    color: #fff;  
    display: inline-block;  
    padding: 8px 20px;
    border: 2px solid #fff; 
    margin-top: 12px;
    text-decoration: none;
}

.brand-story .brand-story-large-img img {
    margin-top: 45px;
    max-width: 100%;
}

.brand-story.corvette .brand-story-large-img img {
    margin-top: 150px;
}

.brand-story .content-left {
    max-width: 38%;
    margin-left: 2%;
}

.brand-story .content-right {
    max-width: 58%;
    margin-right: 2%;
}

@media (min-width: 100px) {
    .brand-story .brand-story-text p {
        width: 150%;
    }
    
    .brand-story .pull-right {
        float: left !important;
    }
    
    .brand-story .content {
        margin-left: 30px;
    }
}

@media (min-width: 480px) {
    .brand-story .brand-story-text p {
        width: 120%;
    }
}

@media (min-width: 768px) {
    .brand-story .brand-story-text p {
        width: 100%;
    }
    
    .brand-story .content {
        margin-left: 2%;
    }
    
    .brand-story .pull-right {
        float: right !important;
        margin-right: 2% !important;
    }
    
    .brand-story .brand-story-large-img img {
        margin-top: 100px;
    }
    
    .brand-story.corvette .brand-story-large-img img {
        max-width: 85%;
        float: right;
        margin-top: 200px;
    }
}

@media (min-width: 992px) {
    .brand-story .brand-story-large-img img {
        margin-top: 70px;
    }
    
    .brand-story.corvette .brand-story-large-img img {
        max-width: 100%;
        float: none;
        margin-top: 150px;
    }
}

@media (min-width: 1200px) {
    .brand-story .brand-story-large-img img {
        margin-top: 45px;
    }
}

/* Clients */
.clients-section {
    height: auto;
}

.clients-section .client-list-container {
    height: auto;
    max-height: 585px;
    background-image: url(../img/clients/purple-bg-underlay.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clients-section .section-title {
    color: #aaaaaa;
    margin-top: 80px;
}

.clients-section .client-row {
    color: #fff;
}

.clients-section ul {
    line-height: 2.9em;
    margin-top: 30px;
    font-size: 14px;    
}

.clients-section ul.left {
    margin-right: 25px;
}

.clients-section ul.right {
    margin-left: 25px;
}

.clients-section .see-more-button a {
    display: inline-block;
    padding: 8px 38px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 30px;
}

/* Clients - Desc section */
.clients-section .desc-item {
    color: #1d1f20;
    width: 345px;
    margin: 0 auto;
    margin-left: 30%;
    padding-bottom: 65px;
}

.clients-section .desc-list-container {
    height: auto;
    background: #fff;
}

.clients-section .desc-item:first-of-type {
    margin-top: 80px;
}

.clients-section .desc-item .desc-title:before {
    content: '';
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center center;
    position: absolute;
    margin-left: -60px;
    margin-top: -5px;
}

.clients-section .desc-item.yrs-exp .desc-title p .wrap {
    display: inline-block;
    margin-top: -5px;
}

.clients-section .desc-item.cli-num .desc-title:before {
    background-image: url('../img/icons/briefcase.jpg');
    margin-top: -8px;
}

.clients-section .desc-item.prod-cat .desc-title:before {
    background-image: url('../img/icons/list.jpg');
}

.clients-section .desc-item.yrs-exp .desc-title:before {
    background-image: url('../img/icons/time.jpg');
}

@media (min-width: 100px) {
    .clients-section .desc-list {
        margin-left: -60px;    
    }
    
    .clients-section .desc-item {
        width: 65%;
    }
    
    .clients-section .desc-list-container {
        max-height: none;
    }
    
    .clients-section {
        max-height: none;
    }
    
    .clients-section .client-row {
        margin-bottom: 50%;
    }
    
    .clients-section .section-title h3 {
        text-align: left !important;
        margin-left: 10%;
    }
    
    .clients-section ul {
        text-align: left;
    }
    
    .clients-section ul.right {
        margin-left: -25px;
    }
    
    .clients-section .see-more-button a {
        margin-left: -25px;
        margin-top: 20px;
    }
}

@media (min-width: 480px) {
    .clients-section .desc-list {
        margin-left: -60px;    
    }
    
    .clients-section .section-title h3 {
        text-align: center !important;
        margin-left: 0;
    }
    
    .clients-section ul {
        text-align: center;
    }
    
    .clients-section ul.right {
        margin-left: 25px;
    }
    
    .clients-section .see-more-button a {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media (min-width: 650px) {
    .clients-section .desc-list {
        margin-left: -25px;    
    }
    
    .clients-section .desc-item {
        width: 345px;
    }
    
    .clients-section .desc-list-container {
        max-height: 585px;
    }
    
    .clients-section {
        max-height: 585px;
    }
    
    .clients-section .client-row {
        margin-bottom: 50%;
    }
}

@media (min-width: 750px) {
    .clients-section .desc-list {
        margin-left: 10px;
    }
}

@media (min-width: 850px) {
    .clients-section .desc-list {
        margin-left: 40px;
    }
}

@media (min-width: 992px) {
    .clients-section .desc-list {
        margin-left: -80px;
    }
}

@media (min-width: 1000px) {
    .clients-section .desc-list {
        margin-left: -70px;
    }
}

@media (min-width: 1100px) {
    .clients-section .desc-list {
        margin-left: -60px;
    }
}

@media (min-width: 1200px) {
    .clients-section .desc-list {
        margin-left: -50px;
    }
}

@media (min-width: 1300px) {
    .clients-section .desc-list {
        margin-left: -30px;
    }
}

@media (min-width: 1400px) {
    .clients-section .desc-list {
        margin-left: -25px;    
    }
}

@media (min-width: 2400px) {    
     .clients-section .desc-list-container {
        max-height: 700px;
    }
    
    .clients-section {
        max-height: 700px;
    }
    
    .clients-section .client-list-container {
        max-height: 700px;
    }
}

/* Clients Modal */
#clientModal .modal-content {
    border-radius: 0px;
    color: #fff;
    background-image: url(../img/clients/purple-bg-underlay.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#clientModal .modal-header {
    border-bottom: none;
}

#clientModal .modal-header h4 {
    margin-top: 45px;
    color: rgb(170, 170, 170);
}

#clientModal .client-modal-desc p {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

#clientModal .client-modal-desc p a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}

#clientModal .row {
    max-width: 90%;
    margin: 0 auto;
}

#clientModal ul {
    margin: 0;
    padding-left: 0px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 60px;
    color: #fff;
}

#clientModal button.close span {
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 25px;
    top: 7px;
}

/* Testimonials */
.testimonials {
    background: #f1eafc;
    min-height: 500px;
}

.testimonials .title h3 {
    margin-top: 85px;
    font-size: 36px;
    letter-spacing: 0.05em;
}

.testimonials .carousel {
    margin-top: 65px;
    padding-bottom: 120px;
}

.testimonials .carousel .carousel-inner {
    width: 67%;
    margin: 0 auto;
    min-height: 155px;
}

.testimonials .testimonial-source {
    text-align: center;
    margin-top: 40px;
}

.testimonial-source .testimonial-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: inline;
}

.testimonial-source .testimonial-image img {
    border-radius: 50%;
    max-width: 65px;
    height: auto;
    margin-top: -15px;
}

.testimonial-source .testimonial-person {
    text-align: left;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.testimonial-source .testimonial-person .individual-name {
    font-size: 10px;
    margin-top: -5px;
}

.testimonials .carousel .carousel-control {
    width: 20px;
    opacity: 1;
    background-image: none;
    position: absolute;
    margin-top: 25px;
}

.testimonials .carousel .carousel-control.left {
    margin-left: 80px;
}

.testimonials .carousel .carousel-control.right {
    margin-right: 80px;
}

.testimonials .carousel .carousel-control img {
    max-width: 100%;
}

.testimonials .carousel .carousel-control .left-arrow img {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

#testimonial-carousel .carousel-indicators {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    z-index: 1 !important;
}

#testimonial-carousel .carousel-indicators li {
    background: #a9a9a9;
}

#testimonial-carousel .carousel-indicators li.active {
    background: #623c91;
}

@media (min-width: 100px) {
    .testimonials .carousel .carousel-control.left {
        margin-left: 10px;
    }

    .testimonials .carousel .carousel-control.right {
        margin-right: 10px;
    }
    
    .testimonials .carousel .carousel-control {
        margin-top: 40%;
    }

    .testimonials .carousel .carousel-control img {
        max-width: 70%;
    }
}

@media (min-width: 480px) {
    .testimonials .carousel .carousel-control.left {
        margin-left: 20px;
    }

    .testimonials .carousel .carousel-control.right {
        margin-right: 20px;
    }
    
    .testimonials .carousel .carousel-control {
        margin-top: 15%;
    }
}

@media (min-width: 645px) {
    .testimonials .carousel .carousel-control {
        margin-top: 5%;
    }
}

@media (min-width: 768px) {
    .testimonials .carousel .carousel-control {
        margin-top: 5%;
    }
    
    .testimonials .carousel .carousel-control img {
        max-width: 100%;
    }
    
    .testimonials .carousel .carousel-control.left {
        margin-left: 40px;
    }

    .testimonials .carousel .carousel-control.right {
        margin-right: 40px;
    }
}

@media (min-width: 992px) {
    .testimonials .carousel .carousel-control {
        margin-top: 0%;
    }
}

/* Blog Section */
.blog-section {
    height: auto;
    background-image: url('../img/blog/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.blog-section-title {
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.blog-item .image {
    width: 345px;
    height: auto;
    margin: 0 auto;
    margin-top: 90px;
}

.blog-item .image img {
    max-width: 100%;
}

.blog-item .blog-item-content {
    color: #fff;    
    margin-left: 12px;
    width: 92%;
    margin-top: 30px;
    font-size: 14px;
    padding-bottom: 120px;
}

.blog-item .blog-item-content .blog-post-title {
    letter-spacing: 0.1em;
}

.blog-item .blog-item-content .blog-post-date, .blog-item .blog-item-content .blog-post-desc {
    margin-top: 15px;
}

.blog-item .blog-item-content .blog-post-read-more {
    float: right;
    margin-top: 25px;
}

.blog-item .blog-item-content .blog-post-read-more a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.blog-item .blog-item-content .blog-post-read-more a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width 0.25s;
}

.blog-item .blog-item-content .blog-post-read-more a:hover:after {
    width: 100%;
}

@media (min-width: 100px) {
    .blog-item .image {
        width: 95%;
        margin-top: 50px;
    }
    
    .blog-item .blog-item-content {
        padding-bottom: 60px;
    }
    
    .blog-item:nth-of-type(4) .blog-item-content {
        padding-bottom: 120px;
    }
}

@media (min-width: 480px) {
    .blog-item .image {
        width: 100%;
        margin-top: 50px;
    }
    
    .blog-item .blog-item-content {
        padding-bottom: 120px;
    }

}

/* Contact Us Section */
.contact-section .contact-half {
    padding-bottom: 130px;
    padding-top: 110px;
}

.contact-section .contact-first-half {
    text-align: center;
    color: #1d1f20;
}

.contact-section .contact-form-title h3 {
    letter-spacing: 0.05em;
}

#contact-form {
    width: 430px;
    margin: 0 auto;
    margin-top: 30px;
}

#contact-form .form-control {
    width: 430px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    background: #f5f5f5;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: 'MSLight';
}

#contact-form .feedback-input {
    height: 120px;
    max-width: 430px;
    max-height: 150px;
    overflow-y: scroll;
}

#contact-form .contact-submit {
    width: 430px;
    background: #623c91;
    border: none;
    border-radius: 0px;
    color: #f5f5f5;
    height: 50px;
    letter-spacing: 0.1em;
    transition: all 0.1s ease;
}

#contact-form .contact-submit:hover {
    transform: scale(1.05);
    transition: all 0.25s ease;
}

.contact-section .contact-map {
    width: 100%;
    height: 230px;
}

.contact-section .contact-map .map-wrapper {
    overflow: hidden;
    height: 230px;
    width: 100%;
}

#gmap_canvas {
    height: 230px;
    width: 100%;
}

.contact-section .contact-info {
    margin-top: 60px;
    margin-left: 65px;
    color: #1d1f20;
    font-size: 14px;
}

.contact-info .address, .contact-info .phone {
    margin-top: -10px;
}

.contact-info .email {
    margin-top: 40px;
}

.contact-section .purple-banner-wrapper {
    display: inline !important;
    margin-top: 70px;
    float: right;
    text-align: right;
    width: 100%;
    position: absolute;
    background: red;
    margin-left: 8%;
}

.contact-section .purple-banner {
    height: 120px;
    background: #623c91;
    content: '';
}

.contact-section .purple-banner:after {
    background: inherit;
    content: '';
    display: inline-block;
    height: 120px;
    width: 200px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewX(-35deg);
    transform-origin: 100%;
    z-index: -1;
    margin-left: -45px;
}

@media (min-width: 10px) {
    #contact-form {
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    #contact-form .form-control {
        width: 100%;
    }
    
    #contact-form .feedback-input {
        width: 100%;
    }
    
    #contact-form .contact-submit {
        width: 100%;
    }
    
    .contact-section .contact-half {
        padding-bottom: 0px;
    }
}

@media (min-width: 480px) {
    #contact-form {
        width: 430px;
    }
    
    #contact-form .form-control {
        width: 430px;
    }
    
    #contact-form .feedback-input {
        width: 430px;
    }
    
    #contact-form .contact-submit {
        width: 430px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    .contact-section .contact-half {
        padding-bottom: 130px;
    }
}

/* Mobile Testing */
@media only screen and (max-width: 767px) {
    body {
        animation: mob;
    }
}